.category-body {
    width: 25%;
    height: 300px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    margin-left: 6%;
    margin-bottom: 1rem;
    border-radius: 10px;
    float: left;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .category-card-header {
    width: 100%;
  }

  .card-title {
    text-align: center;
  }

  .delete-category-button {
    float: right;
  }

  .category-body-footer {
    width: 100%;
    margin-top: auto;
  }