.form-body {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-text {
    width: 75%;
    height: 25px;
  }

  .side-by-side {
    flex-direction: row;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .title-input-text {
    height: 25px;
    float: left;
    width: 35%;
    margin-right: 5%;
  }

  .category-select {
    height: 30px;
    width: 35%;
  }

  .cat-input-text {
    height: 25px;
    width: 35%;
  }

  .notes-input-text {
    width: 75%;
    height: 150px;
    margin-bottom: 25px;
  }

  .submit-button {
    align-content: center;
    height: 35px;
    
  }